body{
	background-color: #818181;
}
.btn {
    width: 44px;
    height: 32px;
    margin: 4px 0px 4px 0px;
}
.add-button{
	height:112px;
}

.calc-screen{
	background-color: lightgrey;
	width:200px;
	height:76px;

}
.main-input{
	font-size: 16px;
	margin-bottom: 16px;
}
.secondary-input{
	font-size: 12px;
	margin-top: 16px;
	color:grey;
}

.calc-outline{
	margin-top:10%;
	width:250px;
}
table{
	width:100%;
}
.calc-screen, .calc-outline{
	border-style: solid;
	border-color: black;
	border-width:2px;
}
.btn{
	border-style: solid;
	border-color: black;
	border-width:1px;
}
